# Python
__pycache__/
*.pyc
.pytest_cache/
.venv/

# Helm
chart/charts/
chart/Chart.lock

# Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store

# Generated artifacts (kept on PVC, not in repo)
project.qgs

# qwc2 client build artefacts
client/qwc2-demo-app/dist/
client/qwc2-demo-app/node_modules/
client/qwc2-demo-app/.cache/
